/* 全局样式 */
html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* 修改主题 */
:root {
  --el-header-bg-color: #fff;
  --el-header-border-color: #ebeef5;
}
html.dark {
  --el-header-bg-color: #000;
  --el-header-border-color: #363637;
}
